<article class="card mb-3 w-100" id="{{ item.id }}">
    <div class="row g-0">
        <div class="col-2 p-2">
            <div class="border w-100 mb-3 ratio ratio-1x1">
                <img src="{{ item.author.avatar.url }}" class="img-fluid rounded-start" alt="avatar"/>
            </div>
            <div class="input-group flex-nowrap w-75">
                <input type="number" value="{{ item.score }}" class="form-control"/>
            </div>
        </div>
        <div class="col">
            <div class="h-100 card-body">
                <p class="card-text">{{ item.text }}</p>
                <div class="flex">
                    <input type="checkbox">
                    <label>Correct!</label>
                </div>
            </div>
        </div>
    </div>
</article>
