<article class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-2 p-2">
            <div class="border mb-3 ratio ratio-1x1">
                <img src="{{ item.author.avatar.url }}" class="img-fluid rounded-start" alt="avatar"/>
            </div>
            <div class="input-group flex-nowrap w-100 question-like-control" data-question-id="{{ item.id }}">
                <button class="like-btn btn btn-outline-success btn-sm">👍</button>
                <span class="form-control like-counter">{{ item.score }}</span>
                <button class="dislike-btn btn btn-outline-danger btn-sm">👎</button>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "question" item.id %}">{{ item.title }}</a>
                </h5>
                <p class="card-text">{{ item.text }}</p>
                <div class="row">
                    <a class="col-3" href="{% url "question" item.id %}">answers ({{ item.answers_counter }})</a>
                    <div class="col-8">
                        <span>Tags:</span>
                        {% for i in item.tags.all %}
                            <a href="{% url "tag" i %}">{{ i }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>