{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <div class="centrifugo-data" data-url="{{ centrifugo.url }}" data-token="{{ centrifugo.token }}" data-ws-channel-name="{{ ws_channel_name }}">
    </div>
    <article class="cardmb-3 w-100 question" data-question-id="{{ question.id }}">
        <div class="row g-0">
            <div class="col-3 p-2 me-3">
                <div class="border w-100 mb-3 ratio ratio-1x1">
                    <img src="{{ question.author.avatar.url }}" class="img-fluid rounded-start" alt="avatar"/>
                </div>
                <div class="input-group flex-nowrap w-75">
                    <button class="like-btn btn btn-outline-success btn-sm">👍</button>
                    <span class="form-control like-counter">{{ question.score }}</span>
                    <button class="dislike-btn btn btn-outline-danger btn-sm">👎</button>
                </div>
            </div>
            <div class="col">
                <div class="card-body mt-2">
                    <h3 class="card-title">{{ question.title }}</h3>
                    <p class="card-text">
                        {{ question.text }}
                    </p>
                    <div class="col-8">
                        {% if question.tags.exists %}
                            <span>Tags:</span>
                            {% for i in question.tags.all %}
                                <a class="badge rounded-pill text-bg-success" href="{% url "tag" i %}">{{ i }}</a>
                            {% endfor %}
                        {% endif %}

                        {% if question.author == request.user.profile %}
                            <button class="btn btn-outline-danger btn-sm del-question-btn">Delete</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
    <hr>

    <article class="answers-container">
        {% include "layouts/answer.html" %}

        {% for answer in answers %}
            {% include "layouts/answer.html" with item=answer %}
        {% endfor %}
    </article>

    {% if user.is_authenticated %}
        <hr class="mt-0">
        {% csrf_token %}
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-secondary">Answer</button>
        </form>
    {% endif %}

    <script src="{% static "js/question-like.js" %}"></script>
    <script src="{% static "js/answer.js" %}"></script>
    <script src="{% static "js/question-del.js" %}"></script>
    <script src="{% static "js/centrifuge.js" %}"></script>
    <script src="{% static "js/question-details.js" %}"></script>

    {% include 'layouts/pagination.html' with page_obj=answers %}
{% endblock %}
